@using Microsoft.AspNetCore.Identity

@model IEnumerable<Entities.Comment>

@inject SignInManager<IdentityUser> SignInManager

@{ViewData["Title"] = @ViewBag.ProductTitle;}


<section class="justify-content-between">
    <h3>@ViewBag.ProductTitle</h3>
    <p>@ViewBag.ProductDescription</p>
</section>

<div class="col-1">
    <a class="btn btn-secondary" asp-controller="Comments" asp-action="Create" asp-route-id="@ViewBag.ProductId">Create a comment</a>
</div>

<table class="table">
    <thead>
    <tr>
        <th class="col-2 col-md-2">
            @Html.DisplayNameFor(model => model.User.UserName)   
        </th>
        <th class="col-3 col-md-5">
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th class="col-1 col-md-1">
            @Html.DisplayNameFor(model => model.TimeStamp) 
        </th>
        <th class="col-1 col-md-1">
            Button
        </th>
    </tr>
    </thead>
    @if (Model != null)
    {
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>

                    @if (item.Product.UserEmail != null &&
                         SignInManager.UserManager.GetUserName(SignInManager.Context.User) == item.Product.UserEmail)
                    {
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.CommentId">Edit</a> |
                            <a asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                        </td>
                    }
                    else
                    {
                        <p>Can't edit</p>
                    }
                </tr>
            }
        </tbody>
    }
    else
    {
        <tbody>
            <h4>There ain't no comments, be the first to comment!</h4>
        </tbody>
    }
</table>